.decibels {
  width: 100%;
  display: flex;

  & button {
    width: 100%;
    font-size: 2.5rem;
    color: #fff;
    text-shadow:  0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
    font-weight: 700;
    position: relative;
    z-index: 1000;
    text-align: center;
    transform: translate(0, 20px);
    background: transparent;
    border: none;
  }

  & section {
    display: grid;
    place-content: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    border-radius: 10px;
    overflow: hidden;
    

    & div {
      .insideCurve {
        position: absolute;
        top: -20px; 
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 40px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: inset  0 -5px 5px #ccc;
      }
    }

    & picture {
        & img {
            transform: translate(0, 20px);
            opacity: .5;
        }
    }
    
  }
}

.ice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 85vh;
  position: absolute;
  top: 70px;

  & h2 {
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 0 5px 5px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
  }

  & picture {
    height: 170px;
    overflow: hidden;
  }
}
