.decibels {
  width: 100%;
  display: flex;

  & button {
    margin: auto;
    font-size: 2rem;
    text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    position: relative;
    z-index: 1000;
    text-align: center;
    transform: translate(0, 20px);
    background: transparent;
    border: none;
    font-family: 'Cocogoose';
  }

  & section {
    display: grid;
    place-content: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    border-radius: 10px;
    overflow: hidden;
    

    & div {
      .insideCurve {
        position: absolute;
        top: -20px; 
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 40px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: inset  0 -5px 5px #ccc;
      }
    }

    & picture {
        & img {
            transform: translate(0, 20px);
        }
    }
    
  }

  & .checkpointsSection {
    position: absolute;
    width: 100%;
    top: 100px;
    font-family: 'Cocogoose';
 

    & button {
      width: 35px;
      top: -100px;
      left: 20px;
      position: absolute;
      color: #000;
    }

    & .checkContainer {
      position: absolute;
      display: flex;
      width: 100%;
      padding: 4%;
      left: -100%;
      justify-content: space-between;
      transition: .5s ease-in-out;

      & div {
        display: flex;
        justify-content: space-evenly;
        width: 85px;
      }
    }

    & .checkHidden {
      position: absolute;
      display: flex;
      width: 100%;
      padding: 4%;
      left: 0;
      justify-content: space-between;
      transition: .5s ease-in-out;

      & div {
        display: flex;
        justify-content: space-evenly;
        width: 85px;
      }
    }
  }
}

.ice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 85vh;
  position: absolute;
  top: 70px;

  & h2 {
    font-size: 32px;
    font-family: 'InteloExtraBoldItalic';
    color: #fff;
    letter-spacing: 1px;
    // text-shadow: 0 5px 5px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
  }

  & picture {
    height: 170px;
    overflow: hidden;
  }
}
